[user]
	name = Chris Human
	email = 42072991+chrishuman0923@users.noreply.github.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = code -w
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
	side-by-side = false
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code -w --diff $LOCAL $REMOTE"
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code -w $MERGED"
[commit]
	template = /Users/chuman/.gitmessage
